* {
  box-sizing: border-box;
}
body {
  background: transparent;
}

.all {
    img {
        width: 64px;
        height: 62px;
        position: absolute;
        z-index: 31;
        margin-top: -28px;
        margin-left: -30px;
    }
}

.wrapper {
  width: 200px;
  height: 200px;
  // margin: 20px auto;
  position: absolute;
}
.left {
  width: 35px;
  height: 63px;
  position: absolute;
  margin-top: -28px;
  margin-left: -30px;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 100px 0 0 100px;
  opacity: 0;
  animation: fill 5s steps(1, end) 1;
  animation-fill-mode: forwards;
}
.right {
  width: 39px;
  height: 62px;
  position: absolute;
  margin-right: 166px;
  margin-top:-27px;
  top: 0;
  right: 0;
  background: red;
  border-radius: 0 100px 100px 0;
  opacity: 1;
  animation: mask 5s steps(1, end) 1;
  animation-fill-mode: forwards;
}
.rotate {
  /*
  The mask is slightly larger than the two halfs
  to prevent a trailing outline
  */
  width: 40px;
  height: 50px;
  position: absolute; 
  top: -20px;
  right: 177px;
  background: white;
  z-index: 20;
  transform-origin: 0 50%;
  animation: rota 5s linear 1;
  animation-fill-mode: forwards;
}
@keyframes rota {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}
@keyframes mask {
  0%        { z-index: 10; }
  50%, 100% { z-index: 30; }
}

.wrapper:hover .left,
.wrapper:hover .right,
.wrapper:hover .rotate {
  animation-play-state: paused;
}