$naranja: #FE5140;
$naranja-oscuro: #CB3729;
$gris: #f2f2f2;
$gris-oscuro: #969696;
$verde: #99E79D;
$amarillo: #F9D84F;
$azul: #41B9FE;

.icon{
    border-radius: 50px;
    background-color: $naranja;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}
.proccess{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}
.duration{
    background-color: $gris;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.red{
    background-color: $naranja-oscuro;
}