<section class="container" *ngIf="path">
  <div class="row">
    <div class="col-3 col-md-1 align-self-center">
      <div class="icon">
        <i class="far fa-lemon fa-2x"></i>
      </div>
    </div>
    <div class="info col-9 col-md-6 align-self-center" > 
      <h2>{{path.type}}  {{path.completenessPercentage}} %</h2> 
      <p>{{path.description}}</p>
    </div>
    <div class="col-10 col-md-3 offset-1">
      <div class="row justify-content-around">
        <div class="col-6 col-md-12 duration">
          <span class="bold-text">Duration: </span> {{path.duration}} weeks
        </div>
        <div class="col-6 col-md-12 pad">
            <app-status-button></app-status-button>
          </div>
      </div>
    </div>
  </div>
</section>