<nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="#">FoodieJournal</a>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Login
      </a>
      <div class="dropdown-menu" #prueba aria-labelledby="navbarDropdown">
        <form class="form-inline">
          <input class="form-control" type="username" placeholder="Email or Username" aria-label="Username"><br>
          <input class="form-control" type="password" placeholder="Password" aria-label="password">
          <button type="button" class="btn btn-lg btn-block">Login</button> 
           
          <div class= "between">or login with</div> 

           <i class="fas fa-facebook-f fa-3x"></i>
           <i class="fab fa-twitter fa-3x"></i>
           <i class="fab fa-google-plus-g fa-3x"></i>
        </form> 

      </div>
    </li>
  </ul>
</nav>
