.btn-login
    color: #fff
    background-color: #fe5140
    border-color: #fe5140
    width: 100%
    border-radius: 0
    margin: auto
    margin-bottom: 30px
    font-size: 1rem

.bet
    margin: auto
    font-size: .9rem
    color: #495057 

.form-login
    margin: auto
    margin-bottom: 8px
    border-radius: 0 
    width: 100%

/*Coloca la pequeña pestaña del menú
div.row::before
    content: ''
    position: absolute
    width: 0
    height: 0
    left: 90%
    top: -10px
    border-style: solid
    border-width: 0 12px 12px 12px
    border-color: transparent transparent #fff transparent
    z-index: 10

.blue
    color: #3b5998
    padding-left: 30px
    padding-right: 20px
    padding-top: 7px
    padding-bottom: 7px

.lightblue
    color: #08a0e9
    padding-top: 7px
    padding-bottom: 7px
    width: 90px


.red
    color: #dd4b39
    padding-left: 15px
    padding-right: 15px
    padding-top: 7px
    padding-bottom: 7px

.border
    border-color: #495057
    margin: 10px

a, a:not([href]):not([tabindex]), .navbar-light .navbar-brand
    color: #ffffff
    padding-bottom: 0

.bg-light
    background-color: #FE5140 !important
/* Estilos del contenedor del login

div.row
    position: absolute
    margin-top: 10px
    margin-right: 15px
    margin-left: 15px
    margin-bottom: 10px
    padding-right: 0px;
    padding-left: 0px
    z-index: 10

.col-12
    padding: 20px
    background-color: #fff
    -webkit-box-shadow: 3px 3px 0 #e1e1e1
    -moz-box-shadow: 3px 3px 0 #e1e1e1
    box-shadow: 3px 3px 0 #e1e1e1

span.input-error
    color: red

div.input-error-box
    border: red
    
.btn 
    color: #fff
    background-color: #fe5140
    border-color: #fe5140
    width: 96%
    border-radius: 0
    margin: auto
    margin-bottom: 30px
    font-size: 1rem

.bet
    margin: auto
    font-size: .9rem
    color: #495057
    margin-bottom: 8px


.form-control
    width: 96%
    margin: auto
    margin-bottom: 8px
    border-radius: 0

.social-icons
    margin:auto 
    text-align: center
    font-size: 2rem


//Estilo del aside para el sidebar
aside
    background-color: #fff
    position: absolute
    z-index: 10
    width: 20%

aside>ul>li
    list-style: none
    height: 15px

.colapsing
    height: auto
    transition: left 0.3s ease
    left: -100%

.showing
    background-color: #ffffff
    left: 0
    transition: left 0.3s ease-in
        
.menu-right
    right: 0

img
    height: 30px

.title-app
    padding: 0
    display: inline
    margin-right: 5px

.toggle-app
    padding: 0
    display: inline
    margin-right: 0

.hideLogin
    display: none

.burger-item
    margin-top: 2em
    border-bottom: 1px solid #f2f2f2
    text-align: center
    li
        list-style: none
    
.dd-margin
    margin-bottom: 0

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle
    background-color: #CB3729
    border-color: transparent