

 <div class="container">
      <h4 class="message">You ran out of time!
      </h4><br>
      <div class="message">This challenge will appear as missed .<br>
        Please provide a reason to be able to start again.
      </div><br>
<!--Dialog box  -->
      <div class="card">
            <div class="card-body">
            Type your message...
             </div><br><br><br>
<!-- Buttons -->
 </div>
 <br>
  <div class="row button-wraper">
  <button class= "col-6 col-sm-4 btn btn-block btn-responsive cancelbtn">Do it Later</button>
  <button class= "col-6 col-sm-4 btn btn-block btn-responsive sendbtn">Send</button>
  </div>



