
<Section class="container ">
  <div class="row">
  <div class="open col-sm-9 ">
      Open Now
  <hr class="hr">
  </div>
  </div>
  
  <!-- Phone -->
  <div class="row">
  <div class="cinfo col-12 col-sm-12">
      <i class="fas fa-phone fa-rotate-90"></i>
      <span class="contact">(811)111-11111</span>
  </div>
  </div>

  <!-- Email -->
  <div class="row">
  <div class="cinfo col-12 col-sm-12" >
      <i class="fas fa-external-link-alt"></i>
      <span class="contact web">www.foodiejournal.com</span>
  </div>
</div>
</Section>