
<header class="header">
    <div class= "text">
        <div>
      <H1>Challenge Yourself</H1>
      <p>FoodieJournal makes it easy  for you to embark 
        on a journey to discover new cuisines</p>
      <div class="Startbutton"> 
        <button class="button" routerLink="/paths" >Get Started</button> 
      </div>
      </div>
      </div>
      
      <div class= "text2">
      Discover More
      </div>
</header>


<section class="container-fluid background">
  <div class="row justify-content-md-center">
    <div class=" col-12 col-md-3 information">
      <div class="point">
        <div class="info-logo">
          <img class="logo" src="assets/icons/fork_and_spoon.png" alt="" srcset="">
        </div>
      </div>
      <div class="info-description ">
        <p class="text-center">
          Explore the top 5 international cuisines and follow cuisine journey´s
        </p>
      </div>
    </div>  
    <div class=" col-12 col-md-3 information">
      <div class="point">
        <div class="info-logo">
          <img class="logo" src="assets/icons/checkmark.png" alt="" srcset="">
        </div>
      </div>
      <div class="info-description ">
        <p class="text-center">
            Receive restaurant recomendations based on your preferences and location
        </p>
      </div>
    </div>
    <div class=" col-12 col-md-3 information">
      <div class="point">
        <div class="info-logo">
          <img class="logo" src="assets/icons/fork_and_spoon.png" alt="" srcset="">
        </div>
      </div>
      <div class="info-description ">
        <p class="text-center">
            Complete challenges and track your progress aginst  your selected cuisine journey
        </p>
      </div>
    </div>  
  </div>
</section>
<section class= "">
    <div class="devby">
      <p class="devby">
        Developed by
      </p>
    </div>
    <div class="accenture-logo">
      <img class="" src="assets/icons/accenture-logo.png" alt="" srcset="">
      <img class="" src="assets/icons/aowp-logo.png" alt="" srcset="">
    </div>
  
  </section>

