
$naranja: #FE5140
$naranja-oscuro: #CB3729
$gris: #f2f2f2
$gris-oscuro: #969696
$verde: #99E79D
$amarillo: #F9D84F
$azul: #41B9FE



.btn
 background: white
 width: 100%
 border-radius: 0
 padding: 30px
 color: $naranja
 align: center
 margin-left: 11px

div
 width: 98%

.btn-paths
  padding-top: 7px
  padding-bottom: 7px
  background-color: #FE5140
  color: white
  
label
  margin-bottom: 0

.path-name
  margin-right: 30px

.drop-options
  margin-top: 10px
  position: absolute
  z-index: 10