<div class="col-6 d-block d-md-none">
  <button type="button" class="btn btn-paths row justify-content-between" (click)="showPaths()">
    <label class="col-6 path-name">{{pathSelected}}</label>  <label class="col-1"><i class="fas fa-caret-down"></i> </label>
  </button>
</div>
<div class="drop-options" *ngIf="!hide">
  <div *ngFor="let path of paths; let i = index;" (click)="pathClicked(path.type, path.id)" >     
    <div  class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="pathSelected!=path.type" >  
      <label class="btn btn-danger">
        <input (click)="navigate(i)" type="radio" name="options" id="option{{i}}" autocomplete="off" checked="" *ngIf="pathSelected!=path.type"> {{path.type}}
      </label>
    </div>
  </div>
</div>
