
.btn
 background: white
 width: 100%
 border-radius: 0
 padding: 30px
 color: red
 align: center
 margin-left: 11px

div
 width: 98%

.btn-paths
  padding-top: 7px
  padding-bottom: 7px
  background-color: #FE5140
  color: white
  
label
  margin-bottom: 0

.path-name
  margin-right: 30px

.drop-options
  margin-top: 10px
  position: absolute
  z-index: 10