
.btn
 background: white
 width: 100%
 border-radius: 0
 padding: 30px
 color: red
 align: center
 margin-left: 11px

div
 width: 100%

.btn-paths
  padding-top: 7px
  padding-bottom: 5px
  background-color: red
  color: white
  margin-left: 11px 
  

.text-drop
  margin-right: 8rem

.fa-caret-down
  width: 200%
  
  