<section class="container">
  <nav class= "row">
      <div class="col-xs-12">
        <p> Journeys / American </p>
      </div>
  </nav>
</section>


<section class="container background2">
  <div class="row title">
    <div class="col-xs-12" (click)="open()">
      <header class="type"> American <small>STARTED</small></header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 padding-0">
        <img class="food img-fluid" src="https://i.ndtvimg.com/i/2015-07/smores-625_625x350_81435923035.jpg" alt="" srcset=""> 
    </div>
    <div class="col-md-6 padding-0">
        <img class="map img-fluid" src="https://developers.google.com/maps/documentation/urls/images/map-no-params.png" alt="" srcset="">
    </div>
  </div>
  
  <section class="container information">
    <div class="row">
      <div class=" col-md-12 description">
        <p class="text2"> 
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid odit maiores incidunt adipisci? Eos, amet repellendus nobis quas, reprehenderit, laudantium consequatur aperiam debitis doloremque soluta cum nemo. In, eligendi nulla
        </p>
      </div>
    </div>
    <div class="row">
      <div class=" col contact">
        Today 8:00 am - 9:00 pm<br>
        Open now
        <br>
        (510)5633394<br>
        applepiejoes.com
      </div>
      <div class=" col notification">
        Resend text notification
        (510)5633394<br>
        applepiejoes.com
      </div>
    </div>
  </section>
</section>
 <app-controls class= "hidden-xl-down" [idChallenge]="challenge.id"></app-controls> 


  








