<header>
  <p class="welcomeMessage">
    Welcome! <br>
    Choose a track to get started
  </p>
</header>
<section class="container">
<div *ngIf='trackArray' class="row">
  <article *ngFor='let track of trackArray' class="col-lg-3 col-md-6 col-12">
      <div class="card" routerLink="/paths/{{track.id}}">
        <div class="card-img-container-square">
          <img class="card-img-top" [src]="track.icon" [alt]="track.type">
          <p>{{track.type}}</p> 
        </div>
      <div class="card-body">
        <p class="card-text">{{track.description}}</p>
        <p class="card-duration"><span class="bold-text">Duration: </span>{{track.duration}} weeks</p>
      </div>
    </div>
  </article>
</div>
</section>

<!-- Usar svg para las barras de porcentaje -->