$naranja: #FE5140
$naranja-oscuro: #CB3729
$gris: #f2f2f2
$gris-oscuro: #969696
$verde: #99E79D
$amarillo: #F9D84F
$azul: #41B9FE

.card-img-container-square
    width: auto
    background: $naranja
    color: white
    font-size: 2em
    padding-bottom: 2em
    padding-top: 2em
    text-align: center
    
    .card-img-top
        width: 12%
        height: auto
        display: inline
        position: absolute
        z-index: 2
        left: 18%
        top: 16%
        

    p
        position: absolute
        z-index: 2
        display: inline
        top: 15%
        left: 37%

.card
    width: 100%
    margin-bottom: 10%
    margin-top: 10%


.space-between
    margin: 10px !important

.welcomeMessage
    margin: 1em
    text-align: center
    font-size: 2em

.progress
    background-color: gray 
    position: absolute
    z-index: 1
    top: 0%
    bottom: 0%
    

    
    
   
