<app-navbar></app-navbar>
<section class="bg-grey">
    <router-outlet></router-outlet>
</section>
<!-- <p *ngIf='businesses'>{{businesses[0].id}}</p>
<p *ngIf='business'>{{business.id}}</p>
<p *ngIf='review'>{{review.text}}</p>

<section>
    <div class='container' >
            <div class='row' >
                <div class='col-lg-6 col-md-4 col-sm-12' >
                      <app-google-map [latitude]="latitude" [longitude]="longitude" [height]="'100px'" data-toggle="modal" data-target="#myModal"></app-google-map> 
                </div>  
                <div class='col-lg-6 col-md-8 col-sm-12' >
                   Aqui va cualquier otra cosa que vaya a un lado del mapa en desktop y en tablet pero en movil estara debajo del mapa 
                </div>  
            </div> 
        </div>  
        
</section>


<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<app-modal [tipo]="'map'" [latitude]="latitude" [longitude]="longitude" ></app-modal> -->
