<div class="row">
  <div class="col">

    <div class="row">

      <div class="col">
        <button type="button" class="btn btn-danger previous d-none d-md-block">Previous</button>
      </div>
      <div class="col">

        <button type="button" class="btn btn-danger previous mark" (click)="challengeClicked()" [ngStyle]="{'background-color': color ,'color': letterColor } ">
          <i *ngIf="buttonState==2" class="fas fa-check-circle"></i>{{buttonText}}</button>
      </div>
      <div class="col">
        <button *ngIf="myProfile.status!=2" type="button" class="btn btn-danger previous next blueNext d-none d-md-block" disabled>Next</button>
        <button *ngIf="myProfile.status==2" type="button" class="btn btn-danger previous next d-none d-md-block">Next</button>
      </div>

    </div>
  </div>
</div>
