<div class="row">
  <div class="col-sm-12">

    <div class="row">

      <div class="col-2 col-sm-2">

      </div>

      <div class="col-2 col-sm-2">
        <button type="button" class="btn btn-danger previous">Previous</button>
      </div>
      <div class="col-4 col-sm-4">

        <button type="button" class="btn btn-danger previous mark" (click)="challengeClicked()" [ngStyle]="{'background-color': color ,'color': letterColor } ">
          <i *ngIf="buttonState==2" class="fas fa-check-circle"></i>{{buttonText}}</button>
      </div>
      <div class="col-2 col-sm-2">
        <button *ngIf="myProfile.status!=2" type="button" class="btn btn-danger previous next blueNext" disabled>Next</button>
        <button *ngIf="myProfile.status==2" type="button" class="btn btn-danger previous next">Next</button>
      </div>

      <div class="col-2 col-sm-2">

      </div>

    </div>
  </div>
</div>
