<div class="container">

  <div class="row">
        <div class="col-3">
          <button (click)="previous()" type="button" class="btn btn-danger previous d-none d-lg-block">Previous</button>
        </div>
        <div class="col-6">
  
          <button type="button"  class="btn btn-danger previous mark d-none d-md-block" (click)="challengeClicked()" [ngStyle]="{'background-color': color ,'color': letterColor } ">
            <!-- <i *ngIf="buttonState==2" class="fas fa-check-circle"></i> -->
            {{buttonText}}</button>
        </div>
        <div class="col-3">
          <button *ngIf="buttonState!=2" type="button" class="btn btn-danger previous next blueNext d-none d-lg-block" disabled>Next</button>
          <button *ngIf="buttonState==2" (click)="next()" type="button" class="btn btn-danger previous next d-none d-lg-block">Next</button>
        </div>
  </div>

  <div class="row">
    <div class="col-12 d-block d-md-none">
      <button type="button"  class="btn btn-danger previous mark " (click)="challengeClicked()" [ngStyle]="{'background-color': color ,'color': letterColor } ">
        <!-- <i *ngIf="buttonState==2" class="fas fa-check-circle"></i> -->
        {{buttonText}}</button>
    </div>
  </div>
</div>

