<div class="container">
    <div class="row">
        <h4 class="col-12 message">Give your feedback
        </h4>
        <div class="row full-width">
          <div class="col-12 message">
              Congratulations!!
              Thank you for completing this task. We apreciate any comment you may have.
          </div>
        </div>
    <!--Dialog box  -->
        <div class="row full-width">
              <div class="col-12">
              <textarea id="exampleFormControlTextarea1"></textarea>
               </div>
    <!-- Buttons -->
        </div>
    <div class="row row justify-content-between full-width">
      <div class="col-6 col-sm-5">
          <button class="btn btn-block btn-responsive cancelbtn">Do it Later</button>
      </div>
      <div class="col-6 col-sm-5">
          <button class="btn btn-block btn-responsive sendbtn">Send</button>
      </div>
    </div>
</div>



