
 <div class="row">
    <h4 class="col-12">Give your feedback
    </h4>
    <div class="row">
      <div class="col-12">
          Congratulations!!
          Thank you for completing this task. We apreciate any comment you may have.
      </div>
    </div>
<!--Dialog box  -->
    <div class="row">
          <div class="col-12">
          Type a comment...
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
           </div>
<!-- Buttons -->
    </div>
<div class="row">
  <div class="col-6 col-sm-4">
      <button class="btn btn-block btn-responsive cancelbtn">Do it Later</button>
  </div>
  <div class="col-6 col-sm-4">
      <button class="btn btn-block btn-responsive sendbtn">Send</button>
  </div>
</div>



